{% extends "base.html" %}
{% block title %}Change your password{% endblock %}
{% block content %}
<div  class="form-auth">
    <div class="login-form">
        <h1>Change your password</h1>
<p>Use the form below to change your password.</p>
<form method="post">
    {{form.old_password.label}}<br>
    {{form.old_password}}<br>
    {{form.new_password1.label}}<br>
    {{form.new_password1}}<br>
    {{form.new_password2.label}}<br>
    {{form.new_password2}}

<p><input type="submit" value="Change"></p>
{% csrf_token %}
</form>
    </div>
</div>
{% endblock %}