<!DOCTYPE html>

{% load static %}

<html>

<head>
  <title>YOLO</title>


  <meta charset="UTF-8">

  <meta name="description" content="website by Abhishek singh">
  <meta name="author" content="Abhishek">

  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Yolo</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


  <link href="//fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i" rel="stylesheet">




  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
  <link rel="stylesheet" href="{% static  'css/style.css' %}">

  <!-- start rating -->
  <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">



  {% block extracss %}

  {% endblock %}

<style>
    .top-nav{
        background-color: rgb(22, 12, 167);
    }
</style>

<body>


  <div  class="container-fluid  main-body">

    <div class="row min-vh-100">
        <div class="col-12">
            <header class="row">
                <!-- Top Nav -->
                <div class="col-12  py-2 d-md-block d-none  top-nav"  >
                    <div class="row">
                        <div class="col-auto mr-auto">
                            <ul class="top-nav">
                                <li>
                                    <a href="tel:+123-456-7890"><i class="fa fa-phone-square mr-2"></i>+123-456-7890</a>
                                </li>
                                <li>
                                    <a href="mailto:mail@ecom.com"><i class="fa fa-envelope mr-2"></i>mail@ecom.com</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-auto">
                            <ul class="top-nav">
                                {% if user.is_authenticated  %}

                                <a style="margin-right: 15px; color:white;"><i class="fas fa-user-astronaut"></i></a>

                                {% else %}

                                <li>
                                    <a href="{% url 'signUp' %}"><i class="fas fa-user-edit mr-2"></i>Register</a>
                                </li>
                                <li>
                                    <a href="{% url 'login' %}"><i class="fas fa-sign-in-alt mr-2"></i>Login</a>
                                </li>

                                {% endif  %}
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Top Nav -->

                <!-- Header -->
                <div class="col-12 bg-white pt-4">
                    <div class="row">
                        <div class="col-lg-auto">
                            <div class="site-logo text-center text-lg-left">
                                <a href="{% url 'home'  %}"><img src="https://i.imgur.com/Un55wbL.png" width="100px"> </a>
                            </div>
                        </div>
                        <div class="col-lg-5 mx-auto mt-4 mt-lg-0">
                            <form method="GET" action="{%  url 'search:Query' %}">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="search" class="form-control border-dark"  name="q" placeholder="Search..."   value="{{request.GET.q}}"  required>
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-dark"><i class="fas fa-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-auto text-center text-lg-left header-item-holder">
                            <a href="{% url 'wishlist' %}" class="header-item">
                                <i class="fas fa-heart mr-2"></i><span id="header-favorite"></span>
                            </a>
                            <a href="{% url 'cart:cart_detail' %}" class="header-item">
                                <i class="fas fa-shopping-bag mr-2"></i>{% with total_items=cart|length %}
                                {% if total_items > 0 %}
            
                                    {{ total_items }}
                                    {% else %}
                                    0
                                    {% endif %}
                                    {% endwith %}</span>
                            </a>
                        </div>
                    </div>

                    <!-- Nav -->
                    <div class="row">
                        <nav class="navbar navbar-expand-lg navbar-light bg-white col-12">
                            <button class="navbar-toggler d-lg-none border-0" type="button" data-toggle="collapse" data-target="#mainNav">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="mainNav">
                                <ul class="navbar-nav mx-auto mt-2 mt-lg-0">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="{% url 'home' %}"><strong>Home</strong> <span class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link " href="{% url 'productList' %}"><strong>Products</strong></a>
                                    
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="fashion" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><strong>Account</strong></a>
                                        <div class="dropdown-menu" aria-labelledby="fashion">
                                            <a class="dropdown-item" href="{% url 'account' %}">Profile</a>
                                            <a class="dropdown-item" href="category.html">orders</a>
                                            <a class="dropdown-item" href="{% url 'wishlist' %}">wishlist</a>
                                            <a class="dropdown-item" href="category.html">Support  </a>
                                            <a class="dropdown-item" href="{% url 'logout' %}">Log-out</a>
                                        </div>
                                    </li>
                                    <!-- <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="books" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><strong>Books</strong></a>
                                        <div class="dropdown-menu" aria-labelledby="books">
                                            <a class="dropdown-item" href="category.html">Adventure</a>
                                            <a class="dropdown-item" href="category.html">Horror</a>
                                            <a class="dropdown-item" href="category.html">Romantic</a>
                                            <a class="dropdown-item" href="category.html">Children's</a>
                                            <a class="dropdown-item" href="category.html">Non-Fiction</a>

                                           

                                        </div>
                                    </li> -->
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <!-- Nav -->

                </div>
                <!-- Header -->

            </header>
        </div>






  {% block content %}



  {% endblock %}



  <div class="col-12 align-self-end">
    <!-- Footer -->
    <footer class="row">
        <div class="col-12 bg-dark text-white pb-3 pt-5">
            <div class="row">
                <div class="col-lg-2 col-sm-4 text-center text-sm-left mb-sm-0 mb-3">
                    <div class="row">
                        <div class="col-12">
                            <div class="footer-logo">
                                <a><img  src="https://i.imgur.com/vwbzi7u.png" width="45px" height="45px"></a>
                            </div>
                        </div>
                        <div class="col-12">
                            <address>
                                221B Baker Street<br>
                                London, England
                            </address>
                        </div>
                        <div class="col-12">
                            <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
                            <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
                            <a href="#" class="social-icon"><i class="fab fa-pinterest-p"></i></a>
                            <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
                            <a href="#" class="social-icon"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-8 text-center text-sm-left mb-sm-0 mb-3">
                    <div class="row">
                        <div class="col-12 text-uppercase">
                            <h4>Who are we?</h4>
                        </div>
                        <div class="col-12 text-justify">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam imperdiet vel ligula vel sodales. Aenean vel ullamcorper purus, ac pharetra arcu. Nam enim velit, ultricies eu orci nec, aliquam efficitur sem. Quisque in sapien a sem vestibulum volutpat at eu nibh. Suspendisse eget est metus. Maecenas mollis quis nisl ac malesuada. Donec gravida tortor massa, vitae semper leo sagittis a. Donec augue turpis, rutrum vitae augue ut, venenatis auctor nulla. Sed posuere at erat in consequat. Nunc congue justo ut ante sodales, bibendum blandit augue finibus.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-3 col-5 ml-lg-auto ml-sm-0 ml-auto mb-sm-0 mb-3">
                    <div class="row">
                        <div class="col-12 text-uppercase">
                            <h4>Quick Links</h4>
                        </div>
                        <div class="col-12">
                            <ul class="footer-nav">
                                <li>
                                    <a href="#">Home</a>
                                </li>
                                <li>
                                    <a href="#">Contact Us</a>
                                </li>
                                <li>
                                    <a href="#">About Us</a>
                                </li>
                                <li>
                                    <a href="#">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="#">Terms & Conditions</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1 col-sm-2 col-4 mr-auto mb-sm-0 mb-3">
                    <div class="row">
                        <div class="col-12 text-uppercase text-underline">
                            <h4>Help</h4>
                        </div>
                        <div class="col-12">
                            <ul class="footer-nav">
                                <li>
                                    <a href="#">FAQs</a>
                                </li>
                                <li>
                                    <a href="#">Shipping</a>
                                </li>
                                <li>
                                    <a href="#">Returns</a>
                                </li>
                                <li>
                                    <a href="#">Track Order</a>
                                </li>
                                <li>
                                    <a href="#">Report Fraud</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 text-center text-sm-left">
                    <div class="row">
                        <div class="col-12 text-uppercase">
                            <h4>Newsletter</h4>
                        </div>
                        <div class="col-12">
                            <form action="#">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Enter your email..." required>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-outline-light text-uppercase">Subscribe</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer -->
</div>
</div>

</div>






  <!-- <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
  </footer> -->

  <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static  'js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/script.js' %}"></script>


  <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>

</body>



</html>