{% extends "base.html" %}
{% block title %}Pay by credit card{% endblock %}

{% block extracss %}
<style>
    /* braintree hosted fields */
    form div.field {
        font-size: 13px;
        color: #666;
        width: 100%;
        height: 22px;
        margin-bottom: 10px;
        padding: 6px 12px;
        border: 0;
        background: #efefef;
        color: #666;
        border-radius: 4px;
    }

    #formID{
        background-color:white;
       margin-top: 3%;
       margin-bottom: 5%;
        
    }

    .payment{
        border: 0.5px solid gainsboro;
        padding: 3%;
        margin: 2%;
        background-color: rgb(82, 82, 77);
        color: white;

    }



</style>

{% endblock %}

{% block content %}




<div id=formID class="container">
    <div class="container-fluid">
    <div   class="row" ">
        <div class="col-sm-7">
            <h1>Pay by credit card</h1>
        
            <form class="payment" id="payment" method="post">
                <label for="card-number">Card Number</label>
                <div id="card-number" class="field"></div>
                <label for="cvv">CVV</label>
                <div id="cvv" class="field"></div>
                <label for="expiration-date">Expiration Date</label>
                <div id="expiration-date" class="field"></div>
                <input type="hidden" id="nonce" name="payment_method_nonce" value="">
                {% csrf_token %}
                <input type="submit" value="Pay">
            </form>
            
        </div>
        
        
        <div style="padding:10%;" class=" col-sm-5">
            <h3 ><strong>click here for cash on  delivery.</strong>.<a href="{% url 'payment:cod' %}" ><button class="btn btn-outline-dark" >COD</button></a></h3>
        </div>
        </div>
        

</div>
</div>















<!-- includes the Braintree JS client SDK -->
<script src="https://js.braintreegateway.com/web/3.44.2/js/client.
min.js"></script>
<script src="https://js.braintreegateway.com/web/3.44.2/js/hosted-
fields.min.js"></script>
<script>
    var form = document.querySelector('#payment');
    var submit = document.querySelector('input[type="submit"]');
    braintree.client.create({
        authorization: '{{ client_token }}'
    }, function (clientErr, clientInstance) {
        if (clientErr) {
            console.error(clientErr);
            return;
        }
        braintree.hostedFields.create({
            client: clientInstance,
            styles: {
                'input': {
                    'font-size': '13px'
                },
                'input.invalid': {
                    'color': 'red'
                },
                'input.valid': {
                    'color': 'green'
                }
            },
            fields: {
                number: {
                    selector: '#card-number'
                },
                cvv: {
                    selector: '#cvv'
                },
                expirationDate: {
                    selector: '#expiration-date'
                }
            }
        }, function (hostedFieldsErr, hostedFieldsInstance) {
            if (hostedFieldsErr) {
                console.error(hostedFieldsErr);
                return;
            }
            submit.removeAttribute('disabled');
            form.addEventListener('submit', function (event) {
                event.preventDefault();
                hostedFieldsInstance.tokenize(function (tokenizeErr,
                    payload) {
                    if (tokenizeErr) {
                        console.error(tokenizeErr);
                        return;
                    }
                    // set nonce to send to the server
                    document.getElementById('nonce').value = payload.nonce;
                    // submit form
                    document.getElementById('payment').submit();
                });
            }, false);
        });
    });
</script>
{% endblock %}