{% extends 'base.html' %}


{% block extracss %}

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald|Roboto">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css">
<style>
   
   
    .hr{
        padding: 5%;
        border-radius: 100px;
        border: 1px solid grey;
        background-color: snow;
    }
</style>
{% endblock %}
{% block content %}

{% if user.is_authenticated %}


<div class="col-12">
    <div class="row">
        <div class="col-12 py-3">
            <div class="row">
                <div class="col-12 text-center text-uppercase">
                    {%  if products %}
                    <h2>liked items</h2>
                    {% endif %}
                </div>
            </div>

            {% if products %}

            <div class="row">
                {% for prod in products %}
                <!-- Product -->
                <div class="col-xl-3 col-lg-4 col-sm-12 my-3">
                    <div class="col-12 bg-white text-center h-100 product-item">
                        <div class="row h-100">
                            <div class="col-12 p-0 mb-3">
                                <a href="{% url 'product-detail' prod.product.id %}">
                                    <img src="{{prod.product.image.url}}" class="img-fluid" height="200px" width="200px" >
                                </a>
                            </div>
                            <hr>
                            <div class="col-12 mb-3">
                                <hr>
                                <a href="{% url  'product-detail' prod.product.id %}" class="product-name">{{prod.product.name|truncatewords:7}}</a>
                            </div>
                            <div class="col-12 mb-3">
                                <span class="product-price-old">
                                    {% if product.newprice  %}
                                    {{product.newprice}}
                                    {% endif %}
                                </span>
                                <br>
                                <span class="product-price">
                                    {{prod.product.price}}

                                </span>
                            </div>
                            <div class="col-12 mb-3 align-self-end">
                                <button class="btn btn-outline-dark" type="button"><i
                                        class="fas fa-cart-plus mr-2"></i>Add to cart</button>
                                        
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Product -->
                {% endfor %}


                {% else %}
                <div style="width: 100%; padding:5%">
                    <div class="hr" style="text-align: center; color:black">
                        <i class="fa fa-check-circle-o bigger-size " aria-hidden="true"></i>
                      
                        <h3> hello , {{request.user}}</h3>
                        <h5>Your wishlist is empty ....</h5>
                        <p> starting adding item to the wishlist</p>
                    
                        <a href="{% url 'home' %}">    <button class="btn btn-outline-dark">Start Adding..</button>
                        </a>
                    </div>
                </div>

                <!-- Product -->
{% endif %}
            </div>
        </div>
    </div>
</div>

{% else %}


<div style="width: 100%; padding:5%">
    <div class="hr" style="text-align: center; color:black">
        <i class="fa fa-check-circle-o bigger-size " aria-hidden="true"></i>
      
        <h3> hello , {{request.user}}</h3>
        <h5>Please login to add items to wishlist</h5>
    
        <a href="{% url 'login' %}">    <button class="btn btn-outline-dark">Login</button>
        </a>
    </div>
</div>





{% endif %}

{% endblock %}