{% extends 'base.html' %}
{% block content %}


<div class="col-12">
    <div class="row">
        <div class="col-12 py-3">
            <div class="row">
                <div class="col-12 text-center text-uppercase">
                    <h2>liked items...</h2>
                </div>
            </div>
            <div class="row">
                {% for prod in products %}
                <!-- Product -->
                <div class="col-xl-3 col-lg-4 col-sm-12 my-3">
                    <div class="col-12 bg-white text-center h-100 product-item">
                        <div class="row h-100">
                            <div class="col-12 p-0 mb-3">
                                <a href="{% url 'product-detail' prod.product.id %}">
                                    <img src="{{prod.product.image.url}}" class="img-fluid" height="200px" width="200px" >
                                </a>
                            </div>
                            <div class="col-12 mb-3">
                                <a href="product.html" class="product-name">{{product.name}}</a>
                            </div>
                            <div class="col-12 mb-3">
                                <span class="product-price-old">
                                    {% if product.newprice  %}
                                    {{product.newprice}}
                                    {% endif %}
                                </span>
                                <br>
                                <span class="product-price">
                                    {{product.price}}

                                </span>
                            </div>
                            <div class="col-12 mb-3 align-self-end">
                                <button class="btn btn-outline-dark" type="button"><i
                                        class="fas fa-cart-plus mr-2"></i>Add to cart</button>
                                        
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Product -->
                {% endfor %}

                <!-- Product -->

            </div>
        </div>
    </div>
</div>

{% endblock %}